/*----------------------- for debugging ------------------------*/
@media (min-width: 1201px) {
    div[class^=col] {
        /*padding-top: 10px;
        padding-bottom: 10px;*/
        /*background-color: #eee;
        background-color: rgba(86,61,124,.45);*/
        /*border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);*/
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    div[class^=col] {
        /*padding-top: 10px;
        padding-bottom: 10px;*/
        /*background-color: #eee;
        background-color: rgba(86,61,124,.35);*/
        /*border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);*/
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    div[class^=col] {
        /*padding-top: 10px;
        padding-bottom: 10px;*/
        /*background-color: #eee;
        background-color: rgba(86,61,124,.25);*/
        /*border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);*/
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    div[class^=col] {
        /*padding-top: 10px;
        padding-bottom: 10px;*/
        /*background-color: #eee;
        background-color: rgba(86,61,124,.15);*/
        /*border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);*/
    }
}
@media (max-width: 479px) {
    div[class^=col] {
        /*padding-top: 10px;
        padding-bottom: 10px;*/
        /*background-color: #eee;
        background-color: rgba(86,61,124,.15);*/
        /*border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);*/
    }
}
/*.container {
    border: 1px solid #ddd !important;
    border: 1px solid rgba(86,61,124,.2) !important;
}*/